@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-quill/dist/quill.snow.css';
@import './globals';

// @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary: #1c232d;
  --secondary: #ffbd3b;
  --font-inter: Inter, sans-serif;
}

* {
  font-family: var(--font-lexend-deca);
  color: var(primary);
  scroll-behavior: smooth !important;
}
html,
body {
  scroll-behavior: smooth !important;
}

.font-works-sans {
  font-family: var(--font-work-sans);
}

.splide__arrows {
  display: none;
}

.splide {
  padding: 20px !important;
  padding-top: 10px !important;
}

.home__our__students .splide__slide {
  width: -moz-fit-content; /* For Firefox */
  width: -webkit-fit-content; /* For Safari */
  width: fit-content; /* Standard */
}
.home__our__students .splide__pagination__page {
  display: none !important;
}

.home__our__students .splide__track {
  padding: 0px !important;
  margin: 0px !important;
  left: 0px;
}

.home__our__students .splide {
  padding: 0px !important;
}

.splide__pagination__page {
  background-color: #ccc !important;
  border-radius: 50% !important;
  width: 8px !important;
  height: 8px !important;
}

.splide__pagination__page.is-active {
  background-color: var(--secondary) !important;
}
.home__story .splide__pagination__page {
  bottom: -20px;
}

.btn-hover {
  transition: 0.5s;
}

.btn-hover:hover {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: #fff;
}

.splide__pagination {
  bottom: -30px !important;
}
.learners .splide__pagination li,
.student-working .splide__pagination li {
  display: none !important;
}

.contact {
  background: rgb(166, 184, 255);
  background: linear-gradient(
    90deg,
    rgba(166, 184, 255, 1) 0%,
    rgba(87, 152, 221, 1) 100%
  );
}

.faqs .ant-collapse {
  border: none !important;
  background: transparent !important;
}
.faqs .ant-collapse-item {
  border-bottom: none !important;
  background-color: white !important;
  margin-top: 10px !important;
  border-radius: 10px !important;
}
.faqs .ant-collapse-content {
  border: 0px !important;
}
.faqs .ant-collapse-header-text {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.faqs .ant-collapse-content-box p {
  color: #6f6c90 !important;
}

.faqs .ant-collapse-header {
  padding-right: 20px !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
}

.faqs .ant-collapse-expand-icon {
  background-color: #fff !important;
  padding: 8px !important;
  color: #006ada !important;
  border-radius: 50% !important;
  height: 32px !important;
  width: 32px !important;
  font-weight: 600;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.faqs .ant-collapse-arrow {
  font-size: 20px !important;
  font-weight: 800 !important;
}

.faqs .ant-collapse-item-active .ant-collapse-expand-icon {
  background-color: #006ada !important;
  color: #fff !important;
}
.ant-row {
  width: 100% !important;
}
.ant-form-item-row {
  flex-direction: row !important;
}

// .ant-select-selector {
//   color: red;
// }
.ant-input-group-wrapper {
  display: inline !important;
}

// @media screen and (min-width: 1024px) {
//   .hero {
//     height: calc(100vh - 2vh);
//   }
// }

// @media screen and (min-width: 1440px) {
//   .hero {
//     height: calc(100vh - 7vh);
//   }
// }

// @media screen and (min-width: 1728px) {
//   .hero {
//     height: calc(100vh - 20vh);
//   }
// }

.animation1Hero {
  animation: hero_animation 5s infinite;
}

@keyframes hero_animation {
  to {
    transform: translateY(100%);
    // transform: rotateX(360deg);
  }
}

input[type='text']:focus ~ .input-text {
  @apply text-secondary bg-white transform -translate-y-7 -translate-x-4 scale-75;
}
input[type='text']:valid + .input-text {
  @apply text-secondary bg-white  transform -translate-y-7 -translate-x-4 scale-75;
}
textarea:focus ~ .input-text {
  @apply text-secondary bg-white  transform -translate-y-9 -translate-x-4 scale-75;
}
textarea:valid + .input-text {
  @apply text-secondary bg-white transform -translate-y-9 -translate-x-4 scale-75;
}

// :where(.css-dev-only-do-not-override-zmpe3l).ant-collapse-large
//   > .ant-collapse-item
//   > .ant-collapse-header {
//   font-size: 20px;
//   font-weight: 500;
//   padding: 16px 24px;
//   padding-inline-start: 16px;
// }

// @media only screen and (max-width: 480px) {
//   :where(.css-dev-only-do-not-override-zmpe3l).ant-collapse-large
//     > .ant-collapse-item
//     > .ant-collapse-header {
//     font-size: 14px;
//     font-weight: 500;
//     padding: 16px 24px;
//     padding-inline-start: 16px;
//   }
// }

.webinar-faq > .ant-collapse-item {
  border-bottom: none !important;
  background-color: #ffbd3b !important;

  margin-top: 10px !important;
  border-radius: 10px !important;
}
.webinar-faq .ant-collapse-header-text {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: black !important;
}
.webinar-faq.ant-collapse {
  border: none !important;
  background-color: transparent !important;
}
.webinar-faq .ant-collapse-arrow {
  font-size: 20px !important;
  font-weight: 800 !important;
  color: black !important;
}
.webinar-faq .ant-collapse-content-box p {
  color: #6f6c90 !important;
  font-size: 15px !important;
}
.ant-timeline-item-tail {
  border-inline-start: 2px solid white !important;
}
.react-tel-input .form-control {
  height: 50px !important;
  font-size: 16px !important;
  padding-left: 48px !important;
  border-radius: 10px !important;
}
.react-tel-input .selected-flag {
  height: 50px !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  width: 38px !important;
}

.ant-message-notice-content {
  font-size: 20px;
  margin-top: 100px;
  padding: 8px 16px !important;
}
@media only screen and (max-width: 640px) {
  .webinar-faq .ant-collapse-header-text {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
  .webinar-faq .ant-collapse-arrow {
    font-size: 10px !important;
    font-weight: 800 !important;
  }
  .webinar-faq .ant-collapse-content-box p {
    color: #6f6c90 !important;
    font-size: 10px !important;
  }
}
.triangle {
  width: 0;
  height: 0px;
  border-top: 300px solid transparent;
  border-bottom: 300px solid transparent;
  border-left: 600px solid #ffbd3b;
}
.bounce {
  animation: bouncing 2s linear infinite;
}

@keyframes bouncing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
// .event-layer {
//   position: relative;
//   width: 100%;

//   background:
//     linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
//     url(../images/event/bg-cover.jpg) center/cover no-repeat;
// }
// .venue-layer {
//   background:
//     linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
//     url(../images/event/Landscape.png) center/cover no-repeat;
// }

#video-player {
  position: relative;
}

#video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Custom class for hiding scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.devops-gradient-bg {
  background: linear-gradient(
    to right,
    #7dc7ff 0%,
    #c6adff 34%,
    #f9ada2 67%,
    #fbc151 100%
  );
}
.gradient-bg {
  background: linear-gradient(
    98.07deg,
    #7dc5ff80 2.55%,
    #d1bfff80 36.65%,
    #fdb9ae80 79.42%,
    #ffc86180 118.14%
  );
}

.gradient-border {
  border: 2px solid transparent;
  background: linear-gradient(
    98.07deg,
    #7dc5ff80 2.55%,
    #d1bfff80 36.65%,
    #fdb9ae80 79.42%,
    #ffc86180 118.14%
  );
}

.devops-gradient-border {
  border: 2px solid transparent;
  background: linear-gradient(
    to left,
    rgba(125, 199, 255, 0.4),
    rgba(198, 173, 255, 0.4),
    rgba(249, 173, 162, 0.4),
    rgba(251, 193, 81, 0.4)
  );
}

.devops-gradient-border-toggle {
  border: 1px solid transparent;
  border-radius: 10px !important;
  background: linear-gradient(
    to left,
    rgba(125, 199, 255, 0.4),
    rgba(198, 173, 255, 0.4),
    rgba(249, 173, 162, 0.4),
    rgba(251, 193, 81, 0.4)
  );
}

.devops-gradient-bg-box {
  background: linear-gradient(
    to right,
    rgba(125, 199, 255, 0.4),
    rgba(198, 173, 255, 0.4),
    rgba(249, 173, 162, 0.4),
    rgba(251, 193, 81, 0.4)
  );
}

.devops-gradient-bg-fees {
  background: linear-gradient(to top, #bee2ff 0%, #e3ecff 46%, #ebdffa 100%);
}

.devops-gradient-bg-buy-button {
  color: white;
  border-radius: 6px;
  background: linear-gradient(to right, #425673 0%, #1c232d 100%);
}

/* hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@keyframes diagonal-bounce-1 {
  0%,
  100% {
    rotate: 4deg;
  }
  50% {
    rotate: -2deg;
  }
}

.animate-diagonal-bounce-1 {
  animation: diagonal-bounce-1 4s infinite;
}

@keyframes diagonal-bounce-2 {
  0%,
  100% {
    rotate: 6deg;
  }
  50% {
    rotate: 0deg;
  }
}

.animate-diagonal-bounce-2 {
  animation: diagonal-bounce-2 2s infinite;
}

@keyframes diagonal-bounce-3 {
  0%,
  100% {
    rotate: 4deg;
  }
  50% {
    rotate: -2deg;
  }
}

.animate-diagonal-bounce-3 {
  animation: diagonal-bounce-3 3s infinite;
}

@keyframes diagonal-bounce-4 {
  0%,
  100% {
    rotate: 6deg;
  }
  50% {
    rotate: 0deg;
  }
}

.animate-diagonal-bounce-4 {
  animation: diagonal-bounce-4 6s infinite;
}

@keyframes diagonal-bounce-5 {
  0%,
  100% {
    rotate: -8deg;
  }
  50% {
    rotate: 0deg;
  }
}

.animate-diagonal-bounce-5 {
  animation: diagonal-bounce-5 5s infinite;
}

@keyframes diagonal-bounce-6 {
  0%,
  100% {
    rotate: -6deg;
  }
  50% {
    rotate: 0deg;
  }
}

.animate-diagonal-bounce-6 {
  animation: diagonal-bounce-6 9s infinite;
}

/* styles/nprogress.css or inside globals.css */
#nprogress .bar {
  background: #29d;
  height: 3px;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
}

/* global.css or in a <style jsx global> */
.ant-statistic-content-value {
  font-size: 14px !important;
}
